<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>404（找不到页面)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
    <div style="text-align: center; margin: 10% auto;">
        <h1>404!</h1>
        <h2>很抱歉 没有找到这个页面</h2>
        <br>
        <a href="https://github.com/lkl0304">Developer's GitHub</a>
    </div>
    <div style="text-align: center;position: fixed; bottom: 0; height: 50px; width: 100vw;">
        {{ msg }}
    </div>
</body>
</html>