<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>500（内部错误)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
    <div style="text-align: center; margin: 10% auto;">
        <h1>500!</h1>
        <h2>哇！你搞了什么，竟然引起了内部错误！</h2>
        <br>
        <a href="https://github.com/lkl0304">Developer's GitHub</a>
    </div>
    <div style="text-align: center;position: fixed; bottom: 0; height: 50px; width: 100vw;">
        {{ msg }}
    </div>
</body>
</html>