{% extends "home/header.html"%}

{%block content %}
<div class="container">
    <div class="box box-success">
        <div class="box-header">
            <div class="text-center">
                <span class="h-title">操作记录</span>
            </div>
        </div>
        <div class="box-body">
            <div class="select-group text-right">
                <span>分类：</span>
                <select class="form-control">
                    <option selected>全部</option>
                    <option>签到记录</option>
                    <option>作业提交</option>
                    <option>个人操作</option>
                </select>
            </div>
            <table class="table table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <td>行为</td>
                        <td>时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>修改密码</td>
                    <td>2018-03-15</td>
                    <td>
                        <button class="btn btn-xs btn-info">查看</button>
                        <button class="btn btn-xs btn-danger">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            {% include "home/sign.html" %}
        </div>
    </div>
</div>

{%endblock%}