a:hover, a:active, a:focus {
    text-decoration: none;
}
.btn.btn-success {
  background-color: #00a65a;
  border-color: #008d4c;
}

/*skin 皮肤*/
.skin-blue {
    background: #f9f9f9;
}
.skin-blue .logo {
    background-color: #367fa9;
    color: #f9f9f9;
}
.skin-blue .header-nav {
    background-color: #3c8dbc;
}
/*skin 皮肤结束*/

header .logo {
    display: block;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    width: 100%;
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    height: 50px;
    color: #f9f9f9;
}
header .header-nav {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 14px 15px;
}
header .header-nav .dropdown-menu {
    min-width: 120px;
}

header .header-nav .label.label-xs {
    display: inline-block;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 18px;
    height: 20px;
    border-radius: 3px;
}

.body-nav .btns {
    padding: 20px;
    text-align: center;
}

